/* div.card:hover div.fav {
  display: block;
} */
.card-main {
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: var(--main-bg-color);
}

.card-wrap .card {
  transition: all 0.3s linear;
}

.card-wrap .card:hover {
  transform: scale(1.02);
}
.fancy-title {
  /* margin-top: -20px; */
  margin-top: -5%;
}
.fancy-title-wrap {
  max-width: 90%;
  background-color: var(--main-bg-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 1px solid #7ec3b4; */
}

.fancy-title .icon-wrap {
  background: #f5be82;
  width: 20px;
  height: 20px;
  color: white !important;
  padding: 15px;
}
a {
  text-decoration: none;
}
a h5 {
  margin-bottom: 0 !important;
  color: #7ec3b4;
}
div.fav {
  right: 15px;
  top: 15px;
}
div.cart {
  left: 15px;
  top: 15px;
}

.card-main hr {
  width: 20%;
  border: 2px solid #f5be82;
  opacity: 100%;
  margin: auto;
  margin-bottom: 5px;
}

.card-main i:not(.fa-heart) {
  font-size: 1.3rem;
}

p.card-text {
  flex-basis: 100%;
  padding: 20px !important;
  color: rgba(0, 0, 0, 0.55) !important;
  font-weight: 500;
}
p i {
  color: var(--primary-color);
}

.fav-card-bg {
  background-color: rgba(245, 190, 130, 0.1);
}

.fav-card-content img {
  border-width: 1px;
  border-bottom: solid;
  border-image: linear-gradient(
      90deg,
      rgba(254, 156, 3, 0.5) 0%,
      rgba(254, 156, 3, 0.5) 16%,
      rgba(251, 209, 162, 0.5) 100%
    )
    1;
}

i.fas.fa-cart-arrow-down,
i.fas.fa-cart-plus {
  font-size: 1.7rem;
}
