/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #343434;
  --alt-bg: #272727;
  --primary-color: #fe9c03;
}

body {
  background: var(--main-bg-color);
  color: #2f2f2f;
}

nav {
  background-color: var(--main-bg-color) !important;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

a.active {
  color: var(--primary-color) !important;
}

ul.navbar-nav {
  right: 0;
}

img.logo {
  max-width: 100px;
}

header.landing-header-small {
  background-image: url("https://images.unsplash.com/photo-1513135557534-682d53fd7046?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  height: 30vh;
  background-size: cover;
}

header .highlight {
  color: var(--primary-color);
}

header::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.head-content {
  z-index: 1;
}

.cart-card img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.cart-ingredients-list {
  list-style: none;
}
.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.09);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel {
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #777;
}
.carousel .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .bg1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg");
  background-position: center top;
  background-color: rgba(0, 0, 0, 0.09);
}
.carousel .carousel-inner .bg2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg");
  background-position: center center;
}
.carousel .carousel-inner .bg3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg");
  background-position: center bottom;
}
