/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
:root {
  --main-bg-color: #212121;
  --secondary-bg-color: #343434;
  --alt-bg: #272727;
  --primary-color: #ffc20d;
}

body {
  background: var(--main-bg-color);
  color: white;
}
