header.landing-header {
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1513135557534-682d53fd7046?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  background-size: cover;
}
header.landing-header-small {
  height: 20vh;
  background-image: url("https://images.unsplash.com/photo-1513135557534-682d53fd7046?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  background-size: auto;
}

header form input,
select {
  border: 1px solid var(--primary-color) !important;
  color: white !important;
}
header form input {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
header form select {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
header form input::placeholder {
  color: white !important;
}

header form button.btn-header {
  background-color: var(--primary-color) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

section.category {
  background: var(--secondary-bg-color);
}

section.category div.card img {
  height: 100px;
  object-fit: cover;
}

section.category .row li {
  list-style: none;
}

section.Featured {
  background-color: var(--alt-bg) !important;
}

li.cuisine-li:hover {
  cursor: pointer;
}
