header.landing-header {
  height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1513135557534-682d53fd7046?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* border-radius: 5px; */
  color: white;
  background-position: center;
}

header form input,
select {
  border: 1px solid var(--primary-color) !important;
  color: white !important;
}
header form input {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
header form select {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
header form input::placeholder {
  color: white !important;
}

header form button.btn-header {
  background-color: var(--primary-color) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

section.category {
  /* background: var(--main-bg-color); */
}

.landing h2 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-size: 3rem;
}

.trending-wrap h2 .highlight {
  color: var(--primary-color);
}

.trending-wrap h2:after {
  content: "";
  position: absolute;
  top: 43px;
  left: 25%;
  border: 5px solid var(--primary-color);
  width: 60%;
  border-radius: 5px 20px 5px;
  z-index: -1;
}

section.category li.cuisine-li div.card img {
  height: 100px;
  object-fit: cover;
}

section.category .row li {
  list-style: none;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

div.card.category-card::hover {
  transform: scale();
  cursor: wait;
}

li.cuisine-li {
  transition: all 0.3s ease-in-out;
}

li.cuisine-li:hover {
  cursor: pointer;
  transform: scale(1.15);
  z-index: 1;
}

div.toast:not(.hide) {
  transition: all 0.6s ease-in-out;
}

/* div.toast:not(.show) {
  transition: all 0.6s ease-in-out;
} */
