div.profile-nav-head div.avatar {
  max-width: 80px;
  height: auto;
}
div.profile-nav-head div.avatar img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
}

div.profile-nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

div.profile-nav button {
  display: inline-block;
  width: 50%;
  color: var(--primary-color) !important;
}

div.profile-nav button.active {
  background-color: var(--primary-color) !important;
  color: white !important;
}

div.tab-content {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

div.profile-content {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.tab-content {
  padding: 40px 20px 40px;
}

h2.profile,
h3.profile {
  color: #7dcfb6;
}

a.profile-link {
  color: #f79256;
}

hr.profile {
  border: 0 !important;
  height: 3px !important;
  background-image: linear-gradient(
    to right,
    #fbd1a2,
    #f79256,
    #fbd1a2
  ) !important;
}

ul {
  list-style: none;
}

i.intolerance-icon {
  color: #971d12;
}

i.diets-icon {
  color: #afce88;
}

span.profile {
  color: var(--primary-color);
  font-weight: 600;
}
